* {
  margin: 0;
  box-sizing: border-box;
}

section > p > a, section > article > p > a {
  text-decoration: none;
  color: inherit;
}
section > p > a:hover, section > article > p > a:hover {
  color: goldenrod;
  font-weight: 500;
}

body {
      font-family: 'Jost', sans-serif;
      margin:0;
      background: url('./images/PXL_20250414_131503609.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    header {
      width: 90%;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      margin-top: 10px;
    }

    header > div {
      display: flex;
      align-items: center;
      gap: 2.5rem;
    }

    header > div > h1 {
      text-shadow:
        2px 2px 4px #222,
        4px 4px 8px #888,
        0 1px 0 #fff;
      letter-spacing: 2px;
      position: relative;
      font-size: 5em;
      margin-left: 0.3em;
      vertical-align: middle;
      filter: drop-shadow(1px 1px 2px #222);
      display: inline;
    }

    header > div > h1 > span:hover {
      color: goldenrod;
      font-weight: 900;
      text-shadow:
        2px 2px 4px #222,
        4px 4px 8px #888,
        0 1px 0 #fff;
      transition: color 0.2s ease-in-out;
    }

    header > div > img {
      width: 5em;
      height: 5em;
      margin: 10px 0;
      display: inline-block;
      vertical-align: middle;
    }

    header > div > img:hover {
      transform: rotate(360deg);
      transition: transform 0.5s ease-in-out;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      /* margin: 0 auto; */
      gap: 5%;
    }

    footer {
      background-color: #333;
      color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      min-width: 50vw;;
    }
    
    nav > ul {
      list-style: none;
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    nav > ul > li {
      margin: 0 5px;
      background-color: whitesmoke;
      padding: 5px 20px;
      border-radius: 5px;
      color: black;
    }

    nav > ul > li:hover {
      background-color: goldenrod;
      font-weight: 500;
      transition: font-weight 0.2s ease-in-out;
    }

    nav > ul > li > a {
      text-decoration: none;
      color: black;
    }

    section {
      background-color: #333;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 5px;
      margin: 20px;
      width: fit-content;
    }

    section > p {
      margin-bottom: 10px;;
    }

    footer > a > img {
      width: 40px;
      height: 40px;
      margin: 5px;
      color: white;
    }

    h2 {
      font-size: 1.5em;
      margin: 10px 0;
      text-align: center;
      color: goldenrod;
      text-shadow: 1px 1px 2px #222;
    }

    .movie-list {
      display: grid;
      gap: 5px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      margin: 0;
      max-width: 1200px;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
    }
    .event-list {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      margin: 0;
      max-width: 1200px;
    }

    .event-list > li {
      background-color: #444;
      color: white;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      list-style: none;
      transition: transform 0.2s;
      height: 100%;
      max-width: 90%;
    }

    
    .movie-list > li {
      background-color: #444;
      color: white;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      list-style: none;
      transition: transform 0.2s;
      height: 100%;
      width: 100%;
    }
    .event-list > li > img {
      max-width: 90%;
      height: 90%;
      border-radius: 5px;
    }

    
    .movie-list > li > img {
      width: 300px;
      height: auto;
      border-radius: 5px;
    }
    
    .movie-list > li:hover {
      transform: scale(1.05);
      background-color: #555;
    }
    
    .movie-list > li > a {
      text-decoration: none;
      color: black;
      background-color: whitesmoke;
      padding: 5px;
      border-radius: 5px;
      display: block;
      transition: background-color 0.2s, color 0.2s;
      margin: 10px auto;
      text-align: center;
      width: 60%;
    }
    
    .movie-list > li > a:hover {
      background-color: gray;
      color: white;
    }

    .movie-list > li > p {
      margin: 10px 0;
      font-size: 1.2em;
    }
    
    .movie-list > li > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 40ch;
      font-size: small;
      
    }
    
    .movie-list > li > p:hover {
        cursor:progress;
        white-space: normal;
        background: rgba(0,0,0,0.97);
        overflow:visible;
        z-index: 2;
        position: relative;
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        margin: auto;
        transition-property:all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      }
      
      h6 {
        font-size: 0.8em;
      margin-top: 0px;
    }

    .ticket-rentals {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      align-items: stretch;
    }
    .ticket-rentals > article {
      width: 100%;
      background-color: #444;
      padding: 20px;
      border-radius: 5px;
    }
    @media (max-width: 768px) {
      main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
      }
      header > div {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 80vw;
      }

      header > div > img {
        display: none;
      }

      footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
      }
   
      .movie-list {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
      }
      .movie-list > li:hover {
      transform: scale(1);
      }

      .event-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
      }
      .event-list > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
      }
      .event-list > li > img {
        width: 80vw;
        height: auto;
      }
      .ticket-rentals {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
      }
      nav > ul {
            list-style: none;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
      }
      section {
        margin: 5px;
      }
  }