* {
  margin: 0;
  box-sizing: border-box;
}

body {
      font-family: 'Jost', sans-serif;
      margin:0;
      background: url('./images/PXL_20250414_131503609.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    header {
      background-color: lightgray;
      width: 90%;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      margin-top: 20px;
      background: url('./images/Starfish-icon.png');
      background-position:80% 30%;
      background-size:100px;
      background-repeat: no-repeat;
    }
    header > h1 {
      text-shadow:
        2px 2px 4px #222,
        4px 4px 8px #888,
        0 1px 0 #fff;
      letter-spacing: 2px;
      position: relative;
      font-size: 5em;
      margin-left: 0.3em;
      vertical-align: middle;
      filter: drop-shadow(1px 1px 2px #222);
      margin: 0;
    }

    header > h1 > span:hover {
      color: goldenrod;
      font-weight: 900;
      text-shadow:
        2px 2px 4px #222,
        4px 4px 8px #888,
        0 1px 0 #fff;
      transition: color 0.1s ease-in-out;
    }

    footer {
      background-color: #333;
      color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      min-width: 500px;
    }
    
    nav > ul {
      list-style: none;
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    nav > ul > li {
      margin: 0 5px;
      background-color: whitesmoke;
      padding: 5px 20px;
      border-radius: 5px;
      color: black;
    }

    nav > ul > li:hover {
      background-color: goldenrod;
    }

    nav > ul > li > a {
      text-decoration: none;
      color: black;
    }

    section {
      background-color: #333;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 5px;
      margin: 20px;
      width: 100%;
    }

    footer > a > img {
      width: 40px;
      height: 40px;
      margin: 5px;
      color: white;
    }

    .movie-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;

    }

    .movie-list > li {
      background-color: #444;
      color: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      list-style: none;
      transition: transform 0.2s;
      margin: 20px;
    }
    .movie-list > li > img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .movie-list > li:hover {
      transform: scale(1.05);
    }

    .movie-list > li > a {
      text-decoration: none;
      color: black;
      background-color: whitesmoke;
      padding: 5px;
      border-radius: 5px;
      margin: 20px;
    }

    .movie-list > li > a:hover {
      background-color: gray;
      color: white;
    }

    .movie-list > li > p {
      margin: 10px 0;
      font-size: 1.2em;
    }

    h6 {
      font-size: 0.8em;
      margin-top: 10px;
    }